body {
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.Input {
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

.Input:focus {
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}

.table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
    align-self: center;
}

.TableInput {
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 0px;
    font-size: 10px;
    padding: 0px;
    margin: 1px;
}

.TableInput:focus {
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
    margin: 0px;
}
#TableInputC:focus {
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
}

.table tfoot tr{
    border-top: 1px solid black;
}

#TableInputC{
    width: 40px;
    height: 20px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid black;
    border-radius: 0px;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.button {
    font-size: 15px;
    color: black;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid black;
    height: 50px;
    width: 150px;
}

.defbutton {
    font-size: 10px;
    color: black;
    background-color: lightslategrey;
    padding: 2px;
    border: 1px solid black;
    height: 40px;
    width: 120px;
}