body {
    font-size: 20px;
}

.Input {
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

.table {
    border-collapse: collapse;
    border: none;
}
.TableInput {
    width: 50px;
    border: none;
    border-radius: 0px;
    font-size: 10px;
}
.TableInput:focus {
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
}

.table tfoot tr{
    border-top: 1px solid black;
}

#TableInputC{
    width: 50px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid black;
    border-radius: 0px;
    font-size: 10px;
}