body {
    font-size: 20px;
}

.Input {
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}

.table {
    border-collapse: collapse;
    border: none;
}
.TableInput {
    width: 50px;
    border: none;
}
.table tfoot tr{
    border-top: 1px solid black;
}